# ignore all files ending in .log, anywhere in the repo
*.log

# ignore a folder named "build" anywhere
build/

# ignore obj
obj/

# ignore generated docs site
site/

# ignore mkdocs config
mkdocs.yml

# ignore compiler flags
compile_flags.txt
